{% extends 'base.html.twig' %}

{% block title 'Biens Immobiliers' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Biens Immobiliers</h1>
</div>
<div class="container" style="margin-bottom: 1rem;">
    <h2>Les derniers biens</h2>
    <div class="row flex">
        {# boucle qui va chercher toutes les propriétés de par leur getter #}
        {% for property in properties %}
            <div class="col-3 col-sm-6 mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                        {# grace au getter getSlug (Property) je peux donner le titre appelé dans la methode show (PropertyController) de mon slug suivit de l'id et du chemin  #}
                            <a class="text-info" href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{property.title}}</a>
                        </h5>
                        <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
                        <div class="text-info" style="font-weight: bold; font-size: 2rem;">{{property.formattedPrice}}$</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}